* {
  color: white;
  text-shadow: 3px 3px black;
}

body {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background: #2c3e50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.center {
  margin-left:15%;
}
.row {
  padding: 2%;
  font-size: 22px;
}

h1 {
  align-items: center;
  font-stretch: extra-expanded;
  background: rgba(0, 0, 0, 0.0);
  font-family: 'Bree Serif', serif;
  font-size: 45px;
  text-shadow: 3px 3px black;
}

h2 {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  text-shadow: 3px 3px black;
}

.btn-primary {
  box-shadow: 3px 3px black;
  text-shadow: 2px 2px black;
}
button {
  text-shadow: none;
}

#result {
  align-items: center;
  font-stretch: extra-expanded;
  background: rgba(0, 0, 0, 0.0);
  font-family: 'Bree Serif', serif;
  font-size: 45px;
  text-shadow: 3px 3px black;
}

#hidethingy {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  text-shadow: 3px 3px black;
  font-size: 28px;
}

@media (min-width: 1200px) {
  .center {
    background: rgba(0, 0, 0, 0.0);
  }
  #camera_area {
    width: 100%;
    align-items: center;
  }
  #my_camera {
    align-items: center;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.0);
  }
  video {
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
  }
}

@media only screen and (max-width: 640px) {
  .center {
  }
  #camera_area {
    width: 100%;
    align-items: center;
  }
  #my_camera {
    align-items: center;
    margin-left: 5%;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.0);
  }
  video {
    align-items: center;
    margin-left: 15%;
    background: rgba(0, 0, 0, 0.0);
  }
  #go {
    align-items: center;
    margin-left: 58%;
  }
}
