body {
  /*background: url('../images/star-wars-background.jpg');*/
  background-repeat: no-repeat;
}
.logo {
  margin-top: 20px;
}
.start-area {
  margin-top: 30px;
}
.charDiv > img {
  height: 150px;
}
.background {
  background: red;
}
.name, .health {
  text-align: center;
  font-size: 18px;
}
